S3method(layer_clone,list)
S3method(layer_clone,sp_layer)
S3method(ply_aes,list)
S3method(ply_aes,proto)
S3method(ply_aes,sp_layer)
S3method(print,ggsubplot)
S3method(print,rel)
export(add_gid)
export(aesply)
export(apply_maps)
export(coxcomb_sections)
export(eval.plyr)
export(first_name)
export(free)
export(geom_coxcomb)
export(geom_freqstar)
export(geom_star)
export(geom_subplot)
export(geom_subplot2d)
export(get_xs)
export(get_ys)
export(ggsubplot)
export(ggsubplot_build)
export(globalize)
export(interval_breaks)
export(is.rel)
export(layer_clone)
export(merge_overlaps)
export(null_omit)
export(ply_aes)
export(ref_box)
export(ref_hline)
export(ref_vline)
export(rel)
export(rescale_01)
export(rescale_11)
export(rescale_2pi)
export(sp_layer)
export(sp_layer_build)
export(vet)
export(zero_wrap)
exportClasses(environment)
exportClasses(gg)
exportClasses(ggplot)
exportClasses(ggsubplot)
exportClasses(list)
exportClasses(proto)
exportClasses(sp_layer)
exportMethods("$")
exportMethods("$<-")
exportMethods("+")
exportMethods("[")
exportMethods("[<-")
exportMethods(c)
exportMethods(ls)
exportMethods(rep)
exportMethods(show)
import(ggplot2)
import(grid)
import(plyr)
import(proto)
import(scales)
import(stringr)
import(methods)
